<div class="events">
<h2> Events</h2>

  <% @event.each do |event| %>
    Name: <%= event.name %>
    <a href="/events/<%= event.id%>">View</a>
   <hr>
   <% end %>

   <a href="/">Home</a>
   <a href="/events/new"> Add New Event</a>
   
</div>
<div><iframe width="560" height="315" src="https://www.youtube.com/embed/KzjWZjG8mmE" frameborder="0" allowfullscreen></iframe></div>