<div class="events" ><b>Name:</b>
<p><%= @event.name %></p>

<a href="/events/<%= @event.id %>/edit">Edit</a>

<form action="/events/<%= @event.id %>/delete" method="post">
  <input type="submit" value="delete"></form>

<a href="/">Home</a>
</div>