<div class="home">
  <h1>Welcome to the Olympic Games!</h1>
  <h3>Here you will find a basic website with a some information on the Olympic Games! Click an option below to find out more....</h3>
  <iframe width="640" height="360" src="https://www.youtube.com/embed/PLLt2mSqpd0" frameborder="0" allowfullscreen></iframe>
</div>