<!DOCTYPE html>
<html>
<head>
  <title>The Olympic Games</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<main>
  <%= yield %>
</main>
<body>
  <nav>
    
      <ul>
        <li><a href="/athletes">Athletes</a></li>
        <li><a href="/nations">Nations</a></li>
        <li><a href="/events">Events</a></li>
      </ul>
  
  </nav>
  
</body>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
video {
    width: 100%;
    height: auto;
}
</style>
</head>
<body>

<video width="400" controls>
  <source src="https://youtu.be/PLLt2mSqpd0" type="video/mp4">
  
</video>
</html>