<!DOCTYPE html>
<html>
<head>
  <title>The Olympic Games</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<main>
  <%= yield %>
</main>
<body>
  <nav>
    
      <ul>
        <li><a href="/athletes">Athletes</a></li>
        <li><a href="/nations">Nations</a></li>
        <li><a href="/events">Events</a></li>
      </ul>
  
  </nav>
  
</body>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
video {
    width: 100%;
    height: auto;
}
</style>
</head>
<body>

<!-- <video id="olympicVideo" controls poster="video.jpg" width="600" height="400">
  <source src="https://youtu.be/PLLt2mSqpd0.mp4" type="video/mp4"/>
    <source src="https://youtu.be/PLLt2mSqpd0.webm" type="video/webM" />
      <source src="https://youtu.be/PLLt2mSqpd0" type="video/ogg" />
      <p>Your browser does not support the video tag.</p>
  </video> -->
  



  <!-- <source src= <iframe width="640" height="360" src="https://www.youtube.com/embed/PLLt2mSqpd0" frameborder="0" allowfullscreen> </iframe> <type="video/mp4"> -->
  
</video>
</div>
</html>