<!DOCTYPE html>
<html>
<head>
  <title>The Olympic Games</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<main>
  <%= yield %>
</main>
<body>
  <nav>
    
      <ul>
        <li><a href="/athletes">Athletes</a></li>
        <li><a href="/nations">Nations</a></li>
        <li><a href="/events">Events</a></li>
      </ul>
  
  </nav>
  
</body>
</html>