 html, body {
   background: url('https://upload.wikimedia.org/wikipedia/en/thumb/b/b1/Olympic_Rings.svg/1280px-Olympic_Rings.svg.png') no-repeat center center fixed;
  background-color: white;
  padding: 10px;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-size: 100px ;
  color: gold;
}

h3 { font-family: Verdana;
      font-size: 20px; 
      color:gold;
  }


 li {
   display: inline-block;
   border-radius: 4px;
   background-color: gold;
   border: none;
   color: #FFFFFF;
   text-align: center;
   font-size: 28px;
   padding: 20px;
   width: 200px;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;
   border-radius: 50%;
   font-family: Impact
  }


  .Athletes p, div {
    font-family: impact;
    color: DodgerBlue;
    font-size: 20px

}

.Athletes h2, a {
  color: black
}

.new{
  display: inline-block;
  border-radius: 4px;
  background-color: gold;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 50%;
}

