<div class="nations">
<h2>Nations</h2>

<% @nations.each do |nation| %>
  Name: <a href="/nations/<%= nation.id %>"><%= nation.name %></a><hr>
<% end %>

<a href="/nations/new">Add New Nation</a>

<a href="/">Home</a>
</div>