<div class="nations">
<h2>Nations</h2>

<% @nations.each do |nation| %>
  Name: <a href="/nations/<%= nation.id %>"><%= nation.name %></a><hr>
<% end %>

<a href="/nations/new">Add New Nation</a>

<a href="/">Home</a>
</div>

<div><iframe width="640" height="360" src="https://www.youtube.com/embed/jxkJfkoWAMk" frameborder="0" allowfullscreen></iframe></div>