<h2>Add Nation</h2>

<form action="/nations" method="post">

  <label for="nation">Nation:</label>
  <input type="text" name="nation">

  <input type='submit' value="Add Nation!">
</form>

<a href="/">Home</a>