<div class="Athletes special_background">
  <h2> Athletes</h2>

    <% @athletes.each do |athlete| %>
    Name: <%= athlete.name %> 
    Nation: <%= athlete.nation.name %>
    <a href="/athletes/<%= athlete.id%>">View</a>

    <% end %>
  
  <hr>
  <a href="/" class="new">Home</a>
  <a href="/athletes/new" class="new"> Add Athlete</a>
</hr>
</div>
