<h2>Add Athlete</h2>

<form action="/athletes" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="nation">Nation:</label>
  <select name="nation">
    <% @nations.each do |nation| %>
      <option value="<%= nation.id%>"><%= nation.name %></option>
      <%end%>
      </select>


  <input type='submit' value="Add Athlete!">
</form>

<a href="/">Home</a>


