<h2>Add Athlete</h2>

<form action="/athletes" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="nation">Event:</label>
  <input type="text" name="nation">

  <input type='submit' value="Add Athlete!">
</form>


