<b>Name:</b>
<p><%= @athlete.name %></p>
<b>Nation:</b>
<p><%= @athlete.nation %></p>

<a href="/athlete/<%= @athlete.id %>/edit">Edit</a>

<form action="/athlete/<%= @athlete.id %>/delete" method="post">
  <input type="submit" value="delete"></input>

  








